* {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
.clear {
    clear: both;
}
.text-white {
    color:#fff !important;
}
.font15px {
    font-size: 15px !important;
}
.btn {
    border: none;
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 8px 16px;
}
#header{
    z-index: 1;
    top: 0;
    width: 100%;
    position: fixed;
    height: 45px;
    background-color: #000;
  
}
#header .nav {
    display: inline-block;
}
#header li:hover .subnav {
    display: block;
}
.nav > li {
    position: relative;
    display: inline-block;
}
.nav li a {
    text-decoration: none;
}
.nav > li > a {
    color: #fff;
    text-transform: uppercase;
    line-height: 46px;
    padding: 15px 24px;
}
.nav > li:hover > a {
    color: #000;
    background-color: #ccc;
    
}
.nav .nav-arrow-down {
    font-size: 8px;
}
.nav .subnav {
    display: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background: #fff;
    position: absolute;
    list-style-type: none;
    min-width: 140px;
    top: 46px;
    left: 0;
}
.subnav li {
    padding: 8px 16px;
}
.subnav li:hover {
    display: block;
    color: #000;
    background-color: #ccc;
}
.subnav li a {
    display: block;
    font-size: 15px;
    color: #000;
}
#header .nav-search {
    display: inline-block;
    float: right;
    padding: 9px 18px;

}
.menu-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;

}
#header .nav-search .ti-search {
    color : #fff;
    font-size: 14px;
}
#header .nav-search:hover {
    background-color: #f44336;
} 
            /* nav: end */
#slider{
    position: relative;
    margin-top: 45px;
    padding-top: 50%;
    background-image: url(./img/chicago.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
#slider .noidung {
    position: absolute;
    bottom: 0;
    padding-bottom: 47px;
    color: #fff;
    text-align: center;
    width: 100%;
}
#slider .chicago {
    font-weight: 200;
    padding: 15px 0;
}
        /* slider: end */

#content .section-heading {
    min-height: 400px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 82px 16px;
}
#content .section-tieude {
    letter-spacing: 4px;
    margin: 10px 0;
    text-align: center;
    font-size: 30px;
    font-weight: 100;
}
#content .section-slogan,
#content .section-about {
    font-size: 16px;
}
#content .section-slogan {
    opacity: 0.6;
    margin: 15px 0;
    text-align: center;
    font-style: italic;
}


#content .section-about{
    line-height: 1.4;
    text-align: justify;
}
/* member-name */

.member-band {
    padding-top: 47px;
}
.member-team {
    text-align: center;
    float: left;
    width: 33.3%;
}
.member-band .member-name {
    margin: 15px 0;
    font-size: 15px;
}
.member-band .member-img {
    border-radius: 4px;
    margin-bottom: 16px;
    width: 60%;
}
/* member:end */

/* tour-section:begin */
.tour-section {
    background-color: #000;
}
.book-tickets {
    border: 1px solid #ccc;
    background-color: #fff;
    list-style-type: none;
}
.book-tickets li {
    font-size: 17px;
    padding: 8px 16px;
    color: #757575;
    border-bottom: 1px solid #ddd; 
}
.book-tickets .book-item {
    margin-left: 16px;
    color: #fff;
    background-color:#f44336;
    padding: 1.5px 6px;
}
.book-tickets .tickets-left {
    border-radius: 50%;
    color: #fff;
    padding: 0 8px;
    margin-right: 16px;
    float: right;
    background-color: #000; 
}
/* tour-section:endend */


/* tour-place:begin*/

.tour-place .newyorn {
    width: 100%;
}
.tour-place .newyorn:hover {
    opacity: 0.70;
}
.tour-section-place {
    margin: 0 -16px;
    padding: 0 8px;
}
.tour-section-place .tour-place {
    background-color: #000;
    float: left;
    padding: 32px 8px;
    width: 33.3333%;
}

.tour-place .tour-contain{
    background-color: #fff;
}
.tour-place .tour-noidung {
    padding: 0 16px;
    font-size: 17px;
    line-height: 24px;
    height: 190px;
}
.tour-image-place {
    margin: 12px 0;
    font-weight: 400;

}
.tour-section-place .tour-centain {
    margin: 12px 0;
    opacity: 0.6;
}
.how-contain {
    margin: 18px 0;
}

.btn:hover {
    color: #000;
    background-color: #ccc;
}
/* modal:begin */

.modal {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}
.modal.open {
    display: flex;
}
.modal-container {
    max-width: calc(100% - 32px);
    position: relative;
    background-color: #fff;
    width: 700px;
    height: 365px;
    animation: modalframes ease 0.5s;

}
.modal-close {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    padding: 4px 10px;
    color: #fff;
}
.modal-close:hover {
    color: #000;
    background-color: #ccc;
}
.modal-header {
    background-color: #009688;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    letter-spacing: 4px;
    color: #fff;
}
.modal-body {
    padding: 16px;
    font-size: 14px;
    color: #000000;
}
.modal-label {
    display: block;
}
#buy-ticket {
    text-transform: uppercase;
    display: block;
}
.modal-input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 8px;
    margin-bottom: 15px;
}
#buy-ticket {
    background: #009688;
    width: 100%;
    padding: 8px 16px;
    color: #fff;
    font-size: 14px;
    border: none;
    cursor: pointer;
}
#buy-ticket:hover {
    color: #000;
    background: #ccc;
}
.modal-footer {
    float: right;
    margin: 16px;
    padding-bottom: 8px;
}
.footer-help > a {
    color: #2196f3;
}
.contact-address {
    display: inline-block;
}

.contac-ngoc {
    font-size: 18px;
}
.contact-address a {
    opacity: 0.7;
}
.contact-address a:hover {
    opacity: 1;
}
.contact-container{
    padding: 32px 0;
}
.contact-container .ngocngo {
    margin-right: 10px;
}
.classall {
    display: inline-block;
    float: right;
}
.contact-numberall {
    margin-bottom: 8px;
}
.contact-name {
    border: 1px solid #ccc;
    padding: 8px;
}
.contact-numberall .name02 {
    margin-left: 10px;
}
.contact-mass .massage {
    width: 100%;
}
.classall .send {
    margin: 16px 0;
    float: right;
}
.image-map {
    width: 100%;
    filter: grayscale(50%);
}
#footer{
    padding: 64px 0;
    text-align: center;
    opacity: 0.7;
}
.icon-footer i:hover,
.end-footer a:hover {
    cursor: pointer;
    opacity: 0.5;
}
.icon-footer > i {
    font-size: 22px;
}
.end-footer {
    margin: 15px 0;
}
.end-footer a {
    
    color: #333;
}
/* animetion:begin */
@keyframes modalframes {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
@media screen and (max-width: 1023px) {
    .btn {
        padding: 15px 16px;
    }
    .tour-place .tour-noidung{
        height: 210px;
    }
    .m-input {
        padding: 14px !important;
    }
}


/* mobile */
@media screen and (max-width: 739px) {
    #header {
        overflow: hidden;
    }
    .nav > li {
        display: block;
    }
    #header .nav-search {
        display: none; 
    }
    .menu-mobile {
        display: block;
        float: right;
        padding: 7px 18px;
        color: #fff;
    }   
   .menu-mobile:hover {
        color: #000;
        background-color: #ccc;
    }
    .nav .subnav {
        position: initial;
        background-color: #333;
    }
    .subnav li {
        padding: 15px 16px;
    }
    .subnav li a {
        color: #fff;
        
    }
    #header .nav {
        display: block;
    }
    .nav li a {
        display: block;
        padding: 0 24px;
    }
    .nav > li:first-child {
        display: inline-block;
    }

    .member-team {
        width: 100%;
    }
    .tour-section-place .tour-place {
        width: 100%;
    }
    .classall {
        margin-top: 16px;
        display: block;
        float: left;
        width: 100%;
    }
    .contact-name {
        width: 100%;
    }
    .contact-numberall .name02 {
        margin: 0;
        width: 100%;
    }
    .btn {
        width: 100%;
        justify-content: center;;
    }
    .classall {
        margin-top: 10px;
    }
    .tour-section-place {
        padding: 32px 8px;
    }
    .tour-section-place .tour-place {
        padding: 8px;
    }
    .contact-numberall .name02 {
        margin-top: 8px;
    }
    .classall .send {
        width: 100%;
    }
    
}
